


<h1>Buscar Empresa</h1>

<div class ='center'>
<form action='/empresas/empresa'>
  <div class="form-group">
    <label for="empresa">Ingrese el nombre de la empresa</label>
    <input id="empresa" name="empresa" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Buscar</button>
</form>
</div>