<div class="jumbotron" id="indexJ">
  <h1 class="display-3">Bienvenido!</h1>
  <p class="lead">Esto es un analizador de empresas que cotizan en la bolsa.</p>
  <hr class="my-4">
  <p>Aqui puede agregar sus propias empresas, cuentas, indicadores y metodologías para realizar el análisis.</p>
</div>