#if($existe)
<div class="mx-auto" style="width: 400px;" id="notFound">
<div class="d-inline-flex p-2">
  <div class="alert alert-danger" role="alert">
  La empresa $empresa ya se encuentra ingresada!
</div>
</div>
</div>

#elseif($creado)
	
	<div class="mx-auto" style="width: 400px;" id="createdOk">
<div class="d-inline-flex p-2">
  <div class="alert alert-success" role="alert">
  La empresa $empresa se ingresó correctamente!
</div>
</div>
</div>

#end