<div class="container" style="width:  300px; padding-top: 20px;" id="imputNewForm">
	<form method="post" action="/empresas/ingresar">
  		<div class="form-group">
      		<input type="text" class="form-control mr-sm-2" id="imputNew" aria-label="IndicadorN" placeholder="Empresa" name="nombre" required>
      		<input type="text" class="form-control mr-sm-2" id="imputNew" aria-label="IndicadorN" placeholder="Antiguedad" name="antiguedad" required>
  		</div>
  		<button type="submit" class="btn btn-primary" id="imputButton">Ingresar</button>
	</form>
</div> 