<!DOCTYPE html>
<html>
<head>
    <title>Analizador de la bolsa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" id="topNavbar">
  <a class="navbar-brand" href="/" style="color:white;">Analizador de la bolsa</a>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
          Ingresar nuevos datos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/empresas/ingresar">Empresa</a>
          <a class="dropdown-item" href="#">Metodolog√≠a</a>
          <a class="dropdown-item" href="#">Cuenta</a>
          <a class="dropdown-item" href="#">Indicador</a>
        </div>
      </li>

      <li class="nav-item" >
        <a class="nav-link" href="#" style="color:white;">Analizar Empresa</a>
      </li>
      
    </ul>
    
     <form class="form-inline my-2 my-lg-0" method="POST">
      <input class="form-control mr-sm-2" type="text" placeholder="Usuario" aria-label="Usuario" id="loginImput" name="usuario">
       <input class="form-control mr-sm-2" type="password" placeholder="ContraseÒa" aria-label="ContraseÒa" id="loginImput" name="pass">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:white; border-color:white;">Log-In</button>
    </form>
  
       
      
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light" id="searchNavBar">
  <a class="navbar-brand">Buscar</a>
 
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/empresas/buscar">Empresa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Indicador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Metodolog√≠a</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cuenta</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container">

 $template

</div>
    
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>