 
 <h3>Análisis de la metodología $metodologia </h3>
 
 <table class="table table-stripped" style="padding: 5px;">
 <thead class="thead-dark">
    <tr>
      <th>Empresa</th>
      <th>Posicion</th>
    </tr>
  </thead>

 #foreach( $valor in $finalList )

    
    <td>$valor.getEmpresa().getNombre()</td>
    <td>$valor.getValor()
    		
    </td>
    </tr>

 #end
</table>

</div>
